
  body {
    background: black;
    height: 1014px;
    background-size :100%;

  }
  
  .slide img { 
    height: 500px;
  }

  
  .slick-slider{
    margin: 100px 200px;
  }
  
  .slick-slide:not(.slick-active) { 
    margin: 20px 0; 


  }
  
  .child { 
    width:100%; 
    

  }
  
  .slide:not(.slick-active) { 
    cursor: pointer; 

  }

.slick-slide{
    opacity: 0;
    margin: 0px 0px;
    animation: ani 4s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.slick-active{

    transform: scale(0.5);
    width: 650px;
    opacity: 1;
}

.slick-center { 
    transform: scale(0.8);


  }

.slick-prev{
    margin-top: -10px;
    margin-left: 40px;
    z-index: 4;
  }

.slick-next{
    margin-top: -10px;
    margin-right: 40px;
    z-index: 4;  
}


    