
<!DOCTYPE html>

{% load static %}

<html lang="en" id = 'html'>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.png' %}"/>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <!-- Put your site title here -->
  <title>
    Федорова Мария Владимировна | Контент-менеджер
  </title>

  <meta name="description" content="Add small description of yourslef.">
  <!-- Add some coding keywords below, Ex: (React, CSS etc) -->
  <meta name="keywords" content="Put your name, skills and some coding keywords" />
  <link rel="stylesheet" href="{% static 'index.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}"/>

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <link rel="stylesheet" href="{% static 'jquery.fancybox.min.css' %}">

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

<body>
    <form id="form" action="/add_form"  method="get">
    <div class="img_head">
      <img src="{% static 'unsplash_KLnyXKDpcKo.png' %}" alt="">
    </div>
    <div id="conent">

</div>

</form>
  <!-- ***** Header ***** -->

  <header class="header" role="banner" id="top">
    <div class="row">
      <nav class="nav" role="navigation">
        <ul class="nav__items">
          {% if keys %}
          <li class="nav__item"><a href="#work" class="nav__link">Работы</a></li>
          {% endif %}
          {% if pts %}
          <li class="nav__item"><a href="#clients" class="nav__link">Дипломы и сертификаты</a></li>
          {% endif %}
          {% if fm %}
          <li class="nav__item">
            <a href="#about" class="nav__link">О себе</a>
          </li>
          {% endif %}
          <li class="nav__item">
            <a href="/nevs" class="nav__link">Пресс центр</a>
          </li>

        </ul>
      </nav>
    </div>
    <div class="test"></div>
    <div class="header__text-box row">
      <div class="header__text">
        <h1>Fyodorova Mariya</h1>
        <p>Контент - менеджер</p>
        <a data-fancybox data-src="#form" onclick="create_form()"  class="btn btn--pink">Связаться со мной</a>
      </div>
    </div>
  </header>
  <button onclick="topFunction()" id="myBtn"><img src="{% static '/images/arrow-up.svg' %} "></button>
  <main role="main">
    {% if keys %}
    <!-- ***** Work ***** -->
    <h2 class = "my_work">Мои кейсы</h2>
    {% for key in keys %}
    <section class="work_{% cycle 'left' 'rite' %}" id="work">
      <div class="row">
        <div class="work__boxes">
          <!-- Each div with the work__box class is a project. -->

          <div class="work__box">
            <div class="work__text">
              <h3>{{key.name}}</h3>
              {% if key.price_for_sale %}
              <div class="prise">
                <h1 class="prise__new">
                {{key.price_for_sale}} ₽
                </h1>
                &nbsp
                &nbsp
                &nbsp
                <h1 class="prise__last">
                <s>{{ key.price }} ₽</s>
                </h1>
              </div>
              {% else %}
              <div class="prise">
                <h1 class="prise__new">
                {{ key.price }} ₽
                </h1>
              </div>
              {% endif %}
              <p class = "work__klass_desc">
                {{key.description | safe}}
              </p>
              <ul class="work__list">
                {% for name_services in key.services.all %}
                <li>{{ name_services }}</li>
                {% endfor %}
              </ul>

              <div class="work__links">

                <a href="/{{ key.slug }}"  class="link__text">
                  Подробннее <span>&rarr;</span>
                </a>

              </div>
            </div>
            <div class="work__image-box">
              <a href="/{{ key.slug }}"  >
              <img src="{{ key.logo.url }}" class="work__image" alt="Project 1" />
              </a>
            </div>
          </div>   
        </div>
      </div>
    </section>
    {% endfor %}
    {% endif %}
    <!-- ***** Clients ***** -->

    {% if pts %}

    <section class="client" id="clients">
      <div class="row">
        <h2>Clients</h2>
        <div class="client__logos">
          <!-- Add logos of the clients or companies you'have worked with. -->

          {% for pt in pts %}
          <div><img src="{{ pt.photo.url }}" class="client__logo" alt="{{pt.name }}" /></div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% endif %}
    <!-- ***** About ***** -->
    {% if fm %}

    <section class="about" id="about">
      <div class="row">
        <h2>Обо мне</h2>
        <div class="about__content">
          <div class="about__text">
            <!-- Replace the below paragraph with info about yourself -->
            <p>
              {{ fm.text | safe }}
            </p>
            <!-- Provide a link to your resume -->
          </div>

          <div class="about__photo-container">
            <!-- Add a nice photo of yourself -->
            <img class="about__photo" src={{fm.photo.url}} alt="" />
          </div>
        </div>
      </div>
    </section>
    {% endif %}
  </main>

  <!-- ***** Footer ***** -->

  <footer role="contentinfo" class="footer">
    <div class="row">
      <p>
        &copy; 2023 -  Developed by <a href="https://t.me/Ilyshaa20" class="link">Barinof</a>.
      </p>
    </div>
  </footer>

  <script src="{% static 'animation.js' %}"></script>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
  <script>
    $('.client__logos').slick({
      infinite: true,
      slidesToShow: 6,
      autoplay: true,
      autoplaySpeed: 1500,
      arrows: false ,
      responsive: [
        {
          breakpoint: 700,
          settings: {
            infinite: true,
            slidesToShow: 3,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false ,
          }
        },
        {
          breakpoint: 450,
          settings: {
            infinite: true,
            slidesToShow: 2,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false ,
          }
        }
    ]
    });
</script>

<script>
function create_form() {
  document.getElementById("conent").innerHTML = `<div class="name_servis_form"><p>Связаться со мной</p></div><div class="contaner"><div class="name"><p>ФИО</p><input id = "name" name = 'name' required></div><div class="svaz"><p>Телефон</p><input id = "svaz" name = 'svaz' required></div><div class="opis"><p>Краткое описание заказа</p><textarea  id = "opis" name="opis"></textarea></div></div><a class="zak" type="submit" style = 'text-decoration: none;' onclick="add_zap()"><div class="qwe"><p>Заказать</p></div></a>`
}
</script>
<script>

    const getData = async (url = '') => {
    const response = await fetch(url, {
    method: 'GET',
    headers:{"Content-Type": "application/json"},
         });

         return response.json();
        }

    function add_zap() {

        const Url = '/add_zap'

        const name = document.getElementById('name').value
        const svaz = document.getElementById('svaz').value
        const opis = document.getElementById('opis').value


        console.log(name)
        console.log(svaz)
        console.log(opis)

    getData(`${Url}?name=${name}&svaz=${svaz}&opis=${opis}`).then((data) => {
        document.getElementById("conent").innerHTML = `<p id='message_suk'>Спасибо за заявку<br>Я свяжусь с вами в ближайшее время</p>`
});

}
</script>
<script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.opacity= 1;
            } else {
                document.getElementById("myBtn").style.opacity= 0;
            }
        }
        var t;
        function topFunction() {
                $('html, body').animate({scrollTop: 0},500);
                };

    </script>
</body>

</html>